<div *ngIf="repository">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="text-success">
                {{repository.full_name | uppercase}}
            </h4>
        </div>
        <div class="panel-body">
            <div class="box-body">

                <div class="col-xs-8" style="padding-top: 20px;">
                    <div class="col-xs-4">Descrição:</div>
                    <div class="col-xs-8">{{repository.description ? repository.description : 'Sem descrição'}}</div>

                    <div class="col-xs-4">Estrelas:</div>
                    <div class="col-xs-8">{{repository.stargazers_count | number}}</div>

                    <div class="col-xs-4">Criado em:</div>
                    <div class="col-xs-8">{{repository.created_at | date}}</div>

                    <div class="col-xs-4">Atualizado em:</div>
                    <div class="col-xs-8">{{repository.updated_at | date}}</div>

                    <div class="col-xs-4">Linguagem:</div>
                    <div class="col-xs-8"><strong>{{repository.language}}</strong></div>
                </div>

                <div class="col-xs-4">
                    <app-user-foto [user]="repository.owner"></app-user-foto>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="pull-left">
            <button type="button"
                    target="_blank"
                    (click)="backToUser()"
                    class="btn btn-default btn-xs">
                Voltar
            </button>
        </div>
        <div class="pull-right">
            <a href="{{repository.clone_url}}"
               target="_blank"
               class="btn btn-link">
                {{repository.full_name}}
            </a>
        </div>
    </div>
</div>
