<div *ngIf="repository">

    <div class="panel panel-default" *ngIf="repository">
        <div class="panel-body">
            <div class="box box-info">
                <div class="box-body">
                    <div>
                        <h4 class="text-success">
                            {{repository.full_name | uppercase}}
                        </h4>
                    </div>

                    <div class="col-sm-8" style="padding-top: 20px;">
                        <div class="col-sm-3">Descrição:</div>
                        <div class="col-sm-9 ">{{repository.description}}</div>

                        <div class="col-sm-3">Estrelas:</div>
                        <div class="col-sm-9"> {{repository.stargazers_count}}</div>

                        <div class="col-sm-3">Criado em:</div>
                        <div class="col-sm-9"> {{repository.created_at | date}}</div>

                        <div class="col-sm-3">Atualizado em:</div>
                        <div class="col-sm-9"> {{repository.updated_at | date}}</div>

                        <div class="col-sm-4">Linguagem:</div>
                        <div class="col-sm-9"> {{repository.language}}</div>
                    </div>

                    <div class="col-sm-4">
                        <app-user-foto [user]="repository.owner"></app-user-foto>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="pull-left">
            <button type="button"
                    target="_blank"
                    (click)="backToUser()"
                    class="btn btn-default">
                Voltar
            </button>
        </div>
        <div class="pull-right">
            <button type="button"
                    target="_blank"
                    (click)="repository.clone_url"
                    class="btn btn-success">
                {{repository.full_name}}
            </button>
        </div>
    </div>
</div>
